.hero-overlay
  background url("images/home_bg.png") no-repeat center 80%;
  background-size: cover
  position relative
  pointer-events:  none
  &::before 
    pointer-events:  none
    position absolute
    width 100%
    height 100%
    content ''
    background transparentify(blackish, 70%)

.hero
  position relative
  z-index 10
  padding 10vh 0
  text-align center
  pointer-events all
  &-content
    max-width 600px
    margin 0 auto
    padding 0 20px
    h1
      font-size 4rem
      color white
      margin-bottom 1.5rem
      line-height 5rem
      letter-spacing .2px
    p
      font-family "Roboto Slab"
      font-size 1.3rem
      color whitish
      margin-bottom 3.5rem
    button
      button()
      margin-bottom 1rem