section.clients
  .container
    h2 OUR AWESOME CLIENTS
    p Proin iaculis purus consequat sem cure
    .client.first
      aside
      .bq-box
        blockquote
          p.client-quote "Proin iaculis purus consequal sem cure digni ssim. Donec porttitora entum suscipt aenean rhoncus"
          p.client-signature - Jamie Richardson, Founder of Cocoa Media
    .client.second
      aside
      .bq-box
        blockquote
          p.client-quote "Proin iaculis purus consequal sem cure digni ssim. Donec porttitora entum suscipt aenean rhoncus"
          p.client-signature -  Kim Thompson, Founder of Rainel