section.contact#contact
  .container
    h1 READY TO TALK ABOUT YOUR NEXT PROJECT?
    button CONTACT US

section.logos
  .container
    ul
      li
        a
          img(src='images/envato.png')
      li
        a
          img(src='images/wordpress.png')
      li
        a
          img(src='images/ae.png')
      li
        a
          img(src='images/microlancer.png')

footer.footer
  .container
    .footer-row
      .footer-column
        h3 CONTACT US
        ul
          li
            img(src='images/pointer.png')
            span 55 Main St. 
              br 
              | Toronto, 
              br
              | ON M1H 3A5
          li
            img(src='images/phone_light.png')
            span (416) 555-5252
          li
            img(src='images/email.png')
            span hello@treehouse.com
      .footer-column
        h3 LATEST POSTS
        ul
          li
            img(src='images/article.png')
            span Made With Love In Toronto
          li
            img(src='images/picture.png')
            span Startup News & Emerging Tech
          li
            img(src='images/article.png')
            span Bitcoin Will Soon Rule The World
          li
            img(src='images/article.png')
            span Wearable Technology On The Rise
          li
            img(src='images/play.png')
            span Learn Web Design In 30 Days!
      .footer-column.footer-column_tweets
        h3 LATEST TWEETS
        ul
          li
            img(src='images/tweet.png')
            span.tweet-text Confucius: Life is really simple, but we insist on making it complicated.
            p.hashes #famousquotes
            small.time 8 mins ago
          li
            img(src='images/tweet.png')
            span.tweet-text Grab the free Treehouse web template at Freebies Xpress!
            p.hashes #freebies #templates
            small.time 2 days ago

  section.footer-contact
    small &copy; Copyright 2014 FreebiesXpress.com
    .justifying-div
      ul.footer-contact-list
        li.footer-contact-list-item
          a(href='#')
            span
              img(src='images/tweeter.png')
        li.footer-contact-list-item
          a(href='#')
            span
              img(src='images/facebook.png')
        li.footer-contact-list-item
          a(href='#')
            span
              img(src='images/pinterest.png')
        li.footer-contact-list-item
          a(href='#')
            span
              img(src='images/google-plus.png')