header.nav-header#nav
  nav.container.nav
    div.nav-logo
      a(href="#")
        img(src="images/logo.png")
    ul.nav-list
      li.nav-list-item
        a.nav-list-link(href="#home") Home
      li.nav-list-item
        a.nav-list-link(href="#about") About
      li.nav-list-item
        a.nav-list-link(href="#blog") Blog
      li.nav-list-item
        a.nav-list-link(href="#portfolio") Portfolio
      li.nav-list-item
        a.nav-list-link(href="#contact") Contact
    .nav-div
      #nav-icon
        span
        span
        span
        span
        span
        span