section.perks2
  aside
  .perks2-box
    article
    h2 JUST RELAX 
      span &
      br
      | LET US DO THE HEAVY LIFTING
    p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    ul
      li Initial Setup & Customizations
      li Regular Updates
      li Round The Clock Support
    button learn more