section.container.perks.section_m#about
  h2.heading PROFESSIONAL SERVICES
  p.perks-small Proin iaculis purus consequat sem cure
  .perks-row
    figure.perks-column
      img(src='images/heart.png').img_mt1
      h3 BEAUTIFUL DESIGNS
      small Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    figure.perks-column
      img(src='images/phone.png')
      h3 RESPONSIVE WEB
      small Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    figure.perks-column
      img(src='images/grown.png').img_mt2
      h3 MARKETING TOOLS
      small Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
