section.portfolio#portfolio
  .container
    h2.portfolio-header LATEST PROJECTS
    p.portfolio-small Proin iaculis purus consequat sem cure
    .portfolio-content
      h3.portfolio-content-heading DEVELOPING A FRAMEWORK
      p.portfolio-content-small Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
      ul.portfolio-list
        li.portfolio-list-item
          h3 E-Commerce Ready
          p Proin iaculis purus consequat sem cure digni ssim.
        li.portfolio-list-item
          h3 Powerful SEO Features
          p Proin iaculis purus consequat sem cure.
        li.portfolio-list-item
          h3 Secure Encyption
          p Proin iaculis purus consequat sem cure iaculis purus.
      p.portfolio-content-small Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in.
      a(href='#').portfolio-link-more View details