section.values
  .container
    h2 CULTURE & VALUES
    p Proin iaculis purus consequat sem cure
    .values-row
      figure.values-row-column
        .hr
          span.img-div
            img(src='images/note.png')
        h3 WORK-LIFE BALANCE
        p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
      figure.values-row-column
        .hr
          span.img-div
            img(src='images/sticks.png')
        h3 QUALITY OVER QUANTITY
        p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
      figure.values-row-column
        .hr
          span.img-div
            img(src='images/star.png')
        h3 DELIVER EXCELLENCE
        p Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
