doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Weekly Webdev challange #3
    link(rel="stylesheet", href="style.css")
  body
    include ./partials/header.pug
    main
      include ./partials/hero.pug
      include ./partials/perks.pug
      include ./partials/perks2.pug
      include ./partials/portfolio.pug
      include ./partials/values.pug
      include ./partials/clients.pug
      include ./partials/contactNfooter.pug